.page_footer{
  height: 175px;
  width: 100%;
  background-image: url("../images/backgrounds/footer_background.png");
  background-position-x: -2px;
  background-repeat: no-repeat;

  .social_icons {
    padding-left: 300px;
    padding-top: 32px;
  }
}